S3method(perrySplits,bootControl)
S3method(perrySplits,foldControl)
S3method(perrySplits,splitControl)
S3method(print,bootSamples)
S3method(print,cvFolds)
S3method(print,randomSplits)
export(bootControl)
export(bootSamples)
export(cvFolds)
export(foldControl)
export(perrySplits)
export(randomSplits)
export(splitControl)
